.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.fm{
  padding: 20px;
  }
  .frm{
    border:5px solid black;
    width:750px;
    height: 700px;
    display:inline-block;
    padding:10px;
    background-color:plum;
   
    
  }
  .abc{
    display:inline-block;
    width: 200px;
    padding:10px;
  }
  
  


